body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightyellow;
}

a {
  color: #00b7ff;
  &:hover {
    color: darkmagenta;
  }
}

span {
  color: red;
}

.active {
  font-weight: bolder;
  color: darkblue;
}

.listClass {
  background-color: whitesmoke;
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.otherClass {
  font-style: italic;
}
