doctype html

mixin item(title, url)
  li(class="listClass")
    a(href=url class=`${path==url ? 'active': ""} otherClass`)=title

html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    p Aktualna ścieżka: 
      span=path
    
    nav
      ul
        //- li
        //-   a(href="/") Strona Główna
        //- li
        //-   a(href="/news") Aktualności
        //- li
        //-   a(href="/quiz") Quiz
        //- li
        //-   a(href="/admin") Dla Admina
        //* To samo co wyżej ale za pomocą mixin'a
        +item("Strona Główna", "/")
        +item("Aktualności", "/news")
        +item("Quiz", "/quiz")
        +item("Dla Admina", "/admin")

    block contentBlock

    div
      - console.log('Console.log form .pug file')
